/* font-family: 'Playfair Display', serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

body {
  /* margin: 0;
    padding: 0; */
  background-color: #fbebea;
  margin: 0 auto;
  color: #2e2829;
}


.container {
  /* min-width: 768px; */
  max-width: 100%;
  margin: 0 auto;
  /* background-color: lightgoldenrodyellow; */
  background-color: #fbebea;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 5%;
}

.main-btn {
  width: 180px;
  background-color: #f50049;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  color: white;
  outline:none;
}

.main-btn:focus, {
  color: #f50049;
  background-color: white;
}

.main-btn:hover{
color: #f50049;
background-color: white;
}

.main-btn:active {
  background-color: #f50049;
  color: white;
}
/* Navigation */

.main-navigation {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  width: 100%;
}

.main-logo {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: #2d2829;
  /* border: 2px solid black; */
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #2d2829;
  font-size: 14px;
  letter-spacing: 2px;
}

.site-navigation a:hover {
  color: #f50049;

}

.contact-number {
  min-width: 11%;
  margin-left: auto;
  text-align: right;
}

.contact-number a {
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #2d2829;
  font-size: 15px;
}

.contact-number a:hover {
  color: #f50049;
}

/* Intro */

.intro {
  background-image: url(../img/intro-cake-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position-x: 550px; */
  /* background-position: right; */
  background-position: 100%;
  /* padding-left: 5%; */
  padding-top: 160px;
  padding-bottom: 295px;
}

.intro-title {
  font-family: 'Playfair Display', serif;
  font-size: 78px;
  font-weight: bold;
  width: 375px;
  letter-spacing: 5px;
  line-height: 70px;
  margin-bottom: 0;
  margin: 0;
  color: #2e2829;

}

.intro span {
  display: block;
  font-family: 'Pacifico', cursive;
  color: #32313d;
  font-size: 40px;
  line-height: 78px;
  margin-bottom: 60px;
}

.intro a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #f50049;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  width: 225px;
  font-size: 13px;
  padding: 20px 65px;
  border-radius: 30px;
  margin-bottom: 120px;
}

.intro a:hover {
  color: #f50049;
  background-color: #ffffff;
}

.intro .intro-feature {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 18px;
  padding: 12px 0 10px 75px;
}

.intro-features {
  margin-bottom: 25px;
}

.intro-feature:first-child {
  background-image: url(../img/feature-1.png);
  background-repeat: no-repeat;
}

.intro-feature:last-child {
  background-image: url(../img/feature-2.png);
  background-repeat: no-repeat;
}

/* Products */

.products {
  margin-top: -80px;
}

.products-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #2d2829;
  font-size: 40px;
  line-height: 65px;
  margin: 0;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.products-panel+.products-panel {
  margin-top: 45px;
}

.products-panel {
  display: flex;
}

.products-left {
  margin-right: 40px;
}

.product-big {
  width: 690px;
  height: 650px;
}

.product-small {
  width: 485px;
  height: 305px;
}

.product-small+.product-small {
  margin-top: 40px;
}

.product {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
  background-color: #ffffff;
  box-shadow: 0px 10px 12px 1px rgba(163, 6, 60, 0.05);
  padding: 35px 45px;
  position: relative;
}

.product p:first-child {
  font-size: 24px;
}

.product p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2d2829;
  margin: 0;
}


.product a {
  position: absolute;
  bottom: 35px;
  right: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2d2829;
  margin: 0;
  text-decoration: none;
}

.product a:hover {
  color: #f50049;
}

.product-classic {
  background-image: url(../img/product-1.jpg);
  background-size: 80%;
}

.product-mousse {
  background-image: url(../img/product-2.jpg);
  background-size: 50%;

}

.product-wedding {
  background-image: url(../img/product-3.jpg);
  background-size: 50%;
}

.product-men {
  background-image: url(../img/product-4.jpg);
  background-size: 50%;
}

.product-women {
  background-image: url(../img/product-5.jpg);
  background-size: 50%;
}

.product-kids {
  background-image: url(../img/product-6.jpg);
  background-color: #f1f2f4;
  background-size: 80%;
}

/* Individuals */

.individual-panel {
  background-color: #ffffff;
  min-height: 100px;
  box-shadow: 0px 10px 12px 1px rgba(163, 6, 60, 0.05);
  padding: 80px;
  position: relative;
  margin-bottom: 35px;
}

.individuals-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: #2d2829;
  max-width: 465px;
  margin: 50px auto 0;
}

.individuals-question {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 10px 0;
  color: #2d2829;
  max-width: 325px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.panel-title {
  position: absolute;
  left: 80px;
  top: 50px;
}

.panel-title p {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  color: #f50049;
  margin: 0;
}

.panel-title p:first-child {
  font-size: 64px;
}

.filling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.filling-container .filling-img {
  background-color: #fbebea;
  min-height: 390px;
  display: flex;
  align-items: flex-end;
}

.filling-content {
  display: flex;
}

.filling-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 390px;
  margin-left: 40px;
}

.filling-info .filling-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2f2f2f;
  margin: 0;
  margin-top: auto;
  margin-bottom: 15px;
}

.filling-info .filling-description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  margin: 0;
  max-width: 300px;
  margin-bottom: 30px;
}

.filling-info .filling-price {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #2f2f2f;
  margin: 0;
  margin-bottom: 50px;
}

.filling-info .filling-quantity {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  margin: 0;
  margin-top: auto;
  align-self: flex-end;
}

.filling-button {
  border: 1px solid #f50049;
}

.appearance-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../img/appearance-bcg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 25%;
  margin-bottom: 75px;
}

.appearance-content{
  display: flex;
}

.appearance-card{
  background-color: white;
  min-height: 435px;
  max-width: 300px;
  box-shadow: 0px 10px 12px 1px rgba(163, 6, 60, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  
}

.appearance-card img{
  margin-top: auto;
}

.appearance-card + .appearance-card{
  margin-left: 45px;
}

.appearance-name{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  margin: 10px 0;
}

.appearance-price{
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #2f2f2f;
  margin: 10px 0 30px;
}

.appearance-quantity{
  align-self: flex-end;
  /* position: absolute; */
  /* bottom: 77px; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  margin: 0;
  margin-left: 15px;
}

.form-title{
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  color: #2f2f2f;
}

.individual-form{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.individual-form fieldset{
  border: none;
  padding: 0;
}

.individual-form legend{
  font-family: 'Pacifico', cursive;
  color: #f50049;
  font-size: 27px;
  margin-bottom: 15px;
}

.individual-form input{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #c1b0af;
  font-weight: bold;
}

.individual-form-btn{
  width: 225px;
  border: 1px solid #f50049;
}

.cakes {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 60px;
}

.cake .size+p {
  margin-top: 40px;
}

.cake p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
}

.size {
  border: 5px dotted black;
  border-radius: 50%;
  text-align: center;
  display: flex;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
}

.size-small {
  height: 110px;
  width: 110px;
}

.size-middle {
  height: 155px;
  width: 155px;
}

.size-big {
  height: 170px;
  width: 170px;
}

.size-big>.size-big {
  height: 120px;
  width: 120px;
}

.size-extra-big {
  height: 200px;
  width: 200px;
}

.size-extra-big>.size-extra-big {
  height: 140px;
  width: 140px;
}

.size-extra-big>.size-extra-big>.size-extra-big {
  height: 95px;
  width: 95px;

}

/* Reviews */

.reviews {
  margin-bottom: 100px;
}

.reviews-title {
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  line-height: 65px;
  width: 200px;
  margin-top: 50px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  color: #2d2829;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-priew,
.btn-next {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-left: 2px solid #f18194;
  border-top: 2px solid #f18194;
  cursor: pointer;
  outline: none;
}

.btn-priew {
  transform: rotate(-45deg);
  margin-right: 40px;
}

.btn-next {
  transform: rotate(135deg);
  margin-left: 40px;
}

.btn-priew:hover,
.btn-next:hover {
  border-color: #8a1125;
}

.btn-priew:active,
.btn-next:active {
  border-color: #000000;
}

.reviews-content {
  display: flex;
  justify-content: space-between;
}

.reviews-img {
  margin-right: 45px;
}

.reviews-img img {
  display: block;
  border-radius: 50%;
}

.reviews-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 500px;
  min-height: 250px;
}

.reviews-review h3 {
  color: #2d2829;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 27px;
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.reviews-review p {
  color: #2d2829;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.reviews-review .reviews-quantity {
  margin-top: auto;
  font-size: 18px;
  color: #f50049;
  align-self: flex-end;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  -webkit-animation: appear .51s ease-in-out;
  animation: appear .51s ease-in-out;
  transition: all;
}

/* Features */

section.features {
  background-image: url(../img/feature-bcg-1.png), url(../img/feature-bcg-2.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 35%, 50%;
}

.features .wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.features .features-item {
  align-self: flex-end;
  width: 680px;
  padding-left: 80px;
}

.features .features-item-first {
  margin-top: 110px;
  background-image: url(../img/feature-1.png);
  background-repeat: no-repeat;
  background-position-y: center;
}

.features-item-second {
  background-image: url(../img/feature-3.png);
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 400px;
}

.features .features-item-last {
  align-self: flex-start;
  padding-left: 0;
  margin-bottom: 250px;
}

.features .feature-small {
  width: 330px;
}

.features .feature-middle {
  width: 410px;
}

.features .feature-big {
  margin-top: 20px;
  width: 480px;
}

.features .features-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: #2d2829;
}

.features-item .features-title {
  margin-bottom: 20px;
}

.features-item .features-title {
  margin-bottom: 20px;
}

.features .features-question {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 10px 0;
  color: #2d2829;
}

.features-item b {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #2d2829;
}

.features-item p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #2d2829;
  margin: 10px 0;
}

/* Order */

.order {
  /* background-image:  url(../img/order.jpg), linear-gradient(#e83940, #da2b35); */
  /* background: #eb01a5; */
  /* background-image: url(../img/order.jpg); */
  /* background-image: url(../img/order.jpg), linear-gradient(#eb01a5, #d13531);*/
  background-image: url(../img/order-bcg.jpg), url(../img/order-bcg.png);
  background-repeat: no-repeat, repeat-x;
  padding-top: 110px;
  padding-bottom: 150px;
  background-position: left -40px;
  /* background-size: 70%;  */

}

.order .wrapper {
  display: flex;
  justify-content: flex-end;
}

.order-content {
  max-width: 485px;
}

.order-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #ffffff;
  margin-left: 55px;
  font-weight: bold;
}

.order-list {
  max-width: 450px;
  list-style: none;
  padding-left: 50px;
}

.order-list-item {
  margin-bottom: 10px;
  position: relative;
}

.order-list-item b {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.order-list-item p {
  margin: 0;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.order-list-item:first-child::before,
.order-list-item:nth-child(2)::before,
.order-list-item:last-child::before {
  content: '1';
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  color: #ffffff;
  line-height: 20px;
  left: -45px;
  top: 0;
}

.order-list-item:nth-child(2)::before {
  content: '2';
  left: -55px;
  /* position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: #ffffff;
    line-height: 20px;
    top: 0; */
}

.order-list-item:last-child::before {
  content: '3';
  left: -52px;
  /* position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: #ffffff;
    line-height: 20px;
    top: 0; */
}


/* Contacts */

.contacts {
  padding-bottom: 295px;
  background-image: url(../img/contants-bcg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contacts .contacts-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2d2829;
}

.contacts .contacts-question {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #2d2829;
}

.contacts p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2d2829;
}

.contacts .contacts-flex {
  display: flex;
}

.contacts .contacts-form {
  width: 600px;
  margin-right: 80px;
}

.contacts form {
  display: flex;
  flex-direction: column;
}

.contacts form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #c9bcbb;
  margin-bottom: 40px;
}

.contacts form input:focus {
  border-bottom: 1px solid #f50049;
}

.contacts form textarea {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 10px 0;
  border-bottom: 1px solid #c9bcbb;
  margin-bottom: 70px;
  resize: none;
}

.contacts form textarea:focus {
  border-bottom: 1px solid #f50049;
}

.contacts .contacts-info {
  width: 330px;
}

.contacts-info .tel {
  display: block;
  color: #2e2829;
}

.contacts-info .tel:hover {
  color: #f50049;
}

.contacts-info .email {
  color: #2e2829;
}

.contacts-info .email:hover {
  color: #f50049;
}

.contacts-info .social-btn {
  display: inline-block;
  width: 62px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50%;
}

.contacts-info .btn-vk {
  /* background-color: red; */
  background-image: url(../img/btn-vk.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-info .btn-inst {
  /* background-color: red; */
  background-image: url(../img/btn-inst.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-info .btn-vk:hover {
  background-image: url(../img/btn-vk-white.svg);
  background-color: #f50049;
}

.contacts-info .btn-inst:hover {
  background-image: url(../img/btn-inst-white.svg);
  background-color: #f50049;
}

/* footer */

.main-footer {
  background-color: #e8e8e8;
}

.main-footer .main-navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.footer-social .social-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.footer-social .btn-vk {
  background-image: url(../img/btn-vk.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social .btn-inst {
  background-image: url(../img/btn-inst.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social .btn-vk:hover {
  background-image: url(../img/btn-vk-white.svg);
}

.footer-social .btn-inst:hover {
  background-image: url(../img/btn-inst-white.svg);
}